# IDE & Editor folders
.vscode/
.idea/
*.swp
*.swo

# Build outputs
target/
dist/
build/

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & OS files
.env
.env.local
.DS_Store
Thumbs.db
